.product-img {
 height: 100%;
 width: 500px;
}

.gallery-content {
    margin: 0 0 30px;
    padding: 0 0 10px; 
}

.name-teddy  {
    padding-bottom: 20px;
}

.infos-product {
    padding-top: 50px;
}

.description-product {
    padding-bottom: 50px;
}

.color-teddy {
    margin-bottom: 30px;
}