*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link {
  @include link
}

a:visited{
  @include link
}

body {
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }