@font-face {
    font-family: 'pacificoregular';
    src: url('/p5-sources/fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('/p5-sources/fonts/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'reenie_beanieregular';
    src: url('/p5-sources/fonts/reeniebeanie-regular-webfont.woff2') format('woff2'),
         url('/p5-sources/fonts/reeniebeanie-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}