body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: $gris;
  }

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 1em;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1em;
}