.bg-pink {
    width: 100%;
    background-color: $rose-pastelle !important;
}

 .header-elements {
    display: flex;
    flex-direction: row;
  }

  .logo {
      display: flex;
      justify-content: center;
  }
       
  .text-font {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
  }
  
 .style-font-shop {
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
  font-weight: unset;
 }