*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container,
#hero-bloc {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #404040;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1em;
}

.bg-pink {
  width: 100%;
  background-color: #f3e9f1 !important;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #f3e9f1;
  padding-top: 10px;
}

.footer-space {
  padding-top: 100px;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navbar {
  width: 100%;
}

.nav a {
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
}

.nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 450px) {
  .nav .menu {
    flex-flow: column wrap;
  }
}

.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 26px;
}

.page-container {
  overflow-x: hidden;
  position: relative;
}

.img-product {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.intro-listing {
  padding-bottom: 40px;
  padding-top: 30px;
}

.tittle-text-intro-listing {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 2em;
  color: #404040;
}

.icon-made-home-with-love {
  font-size: 3em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-intro-listing {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1em;
  color: grey;
}

.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.title-teddy {
  font-family: "roboto", sans-serif;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 20px;
}

.price-teddy {
  font-family: "roboto", sans-serif;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #404040;
  text-align: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.custom-line {
  margin-bottom: 2rem;
}

.custom-price {
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
